server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://192.168.50.208:5433/postgres
    username: postgres
    password: admin
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

mybatis:
  mapper-locations: classpath:/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
  logging:
    level:
      com.example.project_01: DEBUG
      org.mybatis: DEBUG
      org.apache.ibatis: DEBUG
jpa:
  hibernate:
    ddl-auto: update
  open-in-view: false
  show-sql: true
  properties:
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
      format_sql: true